apiVersion: v1
kind: Service
metadata: # kpt-merge: default/hello-world
  name: hello-world
  namespace: default
  labels:
    app: hello-world
  annotations:
    internal.kpt.dev/upstream-identifier: '|Service|default|hello-world'
spec:
  type: NodePort
  selector:
    app: hello-world
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
